


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;

}


body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background: #1C1C1C;
    margin: 0 auto;
    padding: 100px 0px;
    width: 550px;
    height: auto;

}

.invoice-container .invoice-header {
    background: #3A69D2;
    padding: 60px 98px;
    text-align: center;
    color: #FFF;
    font-style: normal;
}

.invoice-container .invoice-header h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 40px; /* 100% */
    letter-spacing: -0.8px;
    margin-bottom: 9px;
}


.invoice-container .invoice-header p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}


.invoice-body {
    background: #1F2937;
    padding: 40px 40px 50px;

}

/* Remove default styles for input and button */
.invoice-form input,
.invoice-form button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none; /* For Safari and Chrome */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* Standard syntax */
}

/* Remove default styles for dropdown */
.invoice-form select {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
}

.invoice-form form {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invoice-form input,
.invoice-form select,
.invoice-form button {
    height: 100%;
    box-sizing: border-box;
}


.invoice-form input {
    width: 70%;
    background-color: #FFF;
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    padding-left: 12px;
}

.invoice-form input {
    border-radius: 7px 0px 0px 7px;
}

.invoice-form select {
    color: #1F2937;
    background-color: #F0F0F0;
    width: 15%;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 90.909% */
    padding-left: 10px;


}


.invoice-form button {
    width: 10%;
    background: #3A69D2;
    border-radius: 0px 7px 7px 0px;
}


/* Task Items display */


.invoice-tasks__display .invoice-tasks__display-titles {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    color: #D5D4D8;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
}


/* End Task Items display */